/* main body CSS file */

.radar-display {
  display: flex;
  flex-direction: column;
}

.radar-map {
  height: 370px;
  width: 100%;
  border: 1px solid blue;
}

.weather {
  display: flex;
  justify-content: center;
  /* border: 1px solid crimson; */
}

.w-disp {
  /* border: 1px solid crimson; */
  width: 540px;
  /* max-width: 540px; */
  max-height: 100%;
  justify-content: center;
  margin-top: 20px;
  /* text-align: center; */
}

.card-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* text-align: center; */
}