.text-center {
    text-align: center;
    background: transparent;
}

.row {
    text-align: center;
}

pre {
    text-align: left;
    overflow-wrap: break-word;
    max-height: 200px;
    font-size: x-small;
    color: aliceblue;
}

.col-sm-4 {
    overflow-x: hidden;
}